/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, .container, .row {
    height: 100%;
}
body {
    background-color: #f6f5f3!important;
}

li.list-group-item:hover .small {
    color: #17a2b8!important;
    -webkit-transition: color .2s ease-in 0s;
    -moz-transition: color .2s ease-in 0s;
    -o-transition: color .2s ease-in 0s;
    transition: color .2s ease-in 0s;
    cursor: pointer;
    text-decoration: none;
}

.card.list {
    height: 100%;
    overflow: scroll;
}

li.list-group-item .selected {

}

ul.tree {
    list-style: none;
}